
<div id="report-title"><h1>Batiment Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Code</th>
            <td><%= record.code %></td>
        </tr>
        <tr>
            <th>Type</th>
            <td><%= record.type %></td>
        </tr>
        <tr>
            <th>Denomination</th>
            <td><%= record.denomination %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= record.description %></td>
        </tr>
        <tr>
            <th>Nombre Niveaux</th>
            <td><%= record.nombre_niveaux %></td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td><%= record.nombre %></td>
        </tr>
        <tr>
            <th>Id Residence</th>
            <td><%= record.id_residence %></td>
        </tr>
    </tbody>
</table>
