
<div id="report-title"><h1>Chambre Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Code</th>
            <td><%= record.code %></td>
        </tr>
        <tr>
            <th>Type</th>
            <td><%= record.type %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= record.description %></td>
        </tr>
        <tr>
            <th>Observation</th>
            <td><%= record.observation %></td>
        </tr>
        <tr>
            <th>Id Couloir</th>
            <td><%= record.id_couloir %></td>
        </tr>
        <tr>
            <th>Id Type</th>
            <td><%= record.id_type %></td>
        </tr>
    </tbody>
</table>
