
<div id="report-title"><h1>Client Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Code</th>
            <td><%= record.code %></td>
        </tr>
        <tr>
            <th>Nom Prenom</th>
            <td><%= record.nom_prenom %></td>
        </tr>
        <tr>
            <th>Cin</th>
            <td><%= record.cin %></td>
        </tr>
        <tr>
            <th>Date Naissance</th>
            <td><%= record.date_naissance %></td>
        </tr>
        <tr>
            <th>Lieu Naissance</th>
            <td><%= record.lieu_naissance %></td>
        </tr>
        <tr>
            <th>Situation Familale</th>
            <td><%= record.situation_familiale %></td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td><%= record.adresse %></td>
        </tr>
        <tr>
            <th>Tel1</th>
            <td><%= record.tel1 %></td>
        </tr>
        <tr>
            <th>Tel2</th>
            <td><%= record.tel2 %></td>
        </tr>
        <tr>
            <th>Tel3</th>
            <td><%= record.tel3 %></td>
        </tr>
        <tr>
            <th>Mail</th>
            <td><%= record.mail %></td>
        </tr>
        <tr>
            <th>Etablissement</th>
            <td><%= record.etablissement %></td>
        </tr>
        <tr>
            <th>Cycle Etudes</th>
            <td><%= record.cycle_etudes %></td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td><%= record.date_created %></td>
        </tr>
        <tr>
            <th>Date Updated</th>
            <td><%= record.date_updated %></td>
        </tr>
    </tbody>
</table>
