
<div id="report-title"><h1>Couloir Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Code</th>
            <td><%= record.code %></td>
        </tr>
        <tr>
            <th>Type</th>
            <td><%= record.type %></td>
        </tr>
        <tr>
            <th>Denomination</th>
            <td><%= record.denomination %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= record.description %></td>
        </tr>
        <tr>
            <th>Nombre Entrees</th>
            <td><%= record.nombre_entrees %></td>
        </tr>
        <tr>
            <th>Dt Mise Service</th>
            <td><%= record.dt_mise_service %></td>
        </tr>
        <tr>
            <th>Id Pavillon</th>
            <td><%= record.id_pavillon %></td>
        </tr>
        <tr>
            <th>Id Etage</th>
            <td><%= record.id_etage %></td>
        </tr>
    </tbody>
</table>
