
<div id="report-title"><h1>Encaissement Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Date</th>
            <td><%= record.date %></td>
        </tr>
        <tr>
            <th>Montant</th>
            <td><%= record.montant %></td>
        </tr>
        <tr>
            <th>Observation</th>
            <td><%= record.observation %></td>
        </tr>
        <tr>
            <th>Id Client</th>
            <td><%= record.id_client %></td>
        </tr>
        <tr>
            <th>User Id</th>
            <td><%= record.user_id %></td>
        </tr>
        <tr>
            <th>Id Facture</th>
            <td><%= record.id_facture %></td>
        </tr>
        <tr>
            <th>Id Unite Location</th>
            <td><%= record.id_unite_location %></td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td><%= record.date_created %></td>
        </tr>
        <tr>
            <th>Date Updated</th>
            <td><%= record.date_updated %></td>
        </tr>
        <tr>
            <th>Status</th>
            <td><%= record.status %></td>
        </tr>
    </tbody>
</table>
