
<div id="report-title"><h1>Encaissement Externe Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Banque</th>
            <td><%= record.banque %></td>
        </tr>
        <tr>
            <th>Reference</th>
            <td><%= record.reference %></td>
        </tr>
        <tr>
            <th>Nom</th>
            <td><%= record.nom %></td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td><%= record.prenom %></td>
        </tr>
        <tr>
            <th>Recu</th>
            <td><%= record.recu %></td>
        </tr>
        <tr>
            <th>Id Encaissement</th>
            <td><%= record.id_encaissement %></td>
        </tr>
    </tbody>
</table>
