
<div id="report-title"><h1>Equipement Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Code</th>
            <td><%= record.code %></td>
        </tr>
        <tr>
            <th>Designation</th>
            <td><%= record.designation %></td>
        </tr>
        <tr>
            <th>Type</th>
            <td><%= record.type %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= record.description %></td>
        </tr>
        <tr>
            <th>Dt Acquisition</th>
            <td><%= record.dt_acquisition %></td>
        </tr>
        <tr>
            <th>Valeur</th>
            <td><%= record.valeur %></td>
        </tr>
        <tr>
            <th>Etat Physique</th>
            <td><%= record.etat_physique %></td>
        </tr>
        <tr>
            <th>Observation</th>
            <td><%= record.observation %></td>
        </tr>
        <tr>
            <th>Id Famille Equipement</th>
            <td><%= record.id_famille_equipement %></td>
        </tr>
        <tr>
            <th>Id Unite Location</th>
            <td><%= record.id_unite_location %></td>
        </tr>
    </tbody>
</table>
