
<div id="report-title"><h1>Famille Equipement Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Code</th>
            <td><%= record.code %></td>
        </tr>
        <tr>
            <th>Designation</th>
            <td><%= record.designation %></td>
        </tr>
        <tr>
            <th>Type</th>
            <td><%= record.type %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= record.description %></td>
        </tr>
        <tr>
            <th>Observation</th>
            <td><%= record.observation %></td>
        </tr>
    </tbody>
</table>
