
<div id="report-title"><h1>Lecture Des Index Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Date</th>
            <td><%= record.date %></td>
        </tr>
        <tr>
            <th>Mois Consommation</th>
            <td><%= record.mois_consommation %></td>
        </tr>
        <tr>
            <th>Index Eau Froid</th>
            <td><%= record.index_eau_froid %></td>
        </tr>
        <tr>
            <th>Index Eau Chaud</th>
            <td><%= record.index_eau_chaud %></td>
        </tr>
        <tr>
            <th>Index Electricite</th>
            <td><%= record.index_electricite %></td>
        </tr>
        <tr>
            <th>Observation</th>
            <td><%= record.observation %></td>
        </tr>
        <tr>
            <th>Id Client</th>
            <td><%= record.id_client %></td>
        </tr>
        <tr>
            <th>Id Unite Location</th>
            <td><%= record.id_unite_location %></td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td><%= record.date_created %></td>
        </tr>
        <tr>
            <th>Date Updated</th>
            <td><%= record.date_updated %></td>
        </tr>
    </tbody>
</table>
