
<div id="report-title"><h1>Lignes Facture Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Code</th>
            <td><%= record.code %></td>
        </tr>
        <tr>
            <th>Designation</th>
            <td><%= record.designation %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= record.description %></td>
        </tr>
        <tr>
            <th>Montant</th>
            <td><%= record.montant %></td>
        </tr>
        <tr>
            <th>Id Facture</th>
            <td><%= record.id_facture %></td>
        </tr>
        <tr>
            <th>Id Base Tarif</th>
            <td><%= record.id_base_tarif %></td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td><%= record.date_created %></td>
        </tr>
        <tr>
            <th>Date Updated</th>
            <td><%= record.date_updated %></td>
        </tr>
    </tbody>
</table>
