
<div id="report-title"><h1>Permissionsnode Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Permission</th>
            <td><%= record.permission %></td>
        </tr>
        <tr>
            <th>Page Name</th>
            <td><%= record.page_name %></td>
        </tr>
        <tr>
            <th>Action Name</th>
            <td><%= record.action_name %></td>
        </tr>
        <tr>
            <th>Role Id</th>
            <td><%= record.role_id %></td>
        </tr>
    </tbody>
</table>
