
<div id="report-title"><h1>Proprietaire Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Code</th>
            <td><%= record.code %></td>
        </tr>
        <tr>
            <th>Denomination</th>
            <td><%= record.denomination %></td>
        </tr>
        <tr>
            <th>Gerant</th>
            <td><%= record.gerant %></td>
        </tr>
        <tr>
            <th>Rc</th>
            <td><%= record.rc %></td>
        </tr>
        <tr>
            <th>Patente</th>
            <td><%= record.patente %></td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td><%= record.adresse %></td>
        </tr>
        <tr>
            <th>Tel1</th>
            <td><%= record.tel1 %></td>
        </tr>
        <tr>
            <th>Tel2</th>
            <td><%= record.tel2 %></td>
        </tr>
    </tbody>
</table>
