
<div id="report-title"><h1>Reclamation Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Id Client</th>
            <td><%= record.id_client %></td>
        </tr>
        <tr>
            <th>Id Unite Location</th>
            <td><%= record.id_unite_location %></td>
        </tr>
        <tr>
            <th>Id Dossierlocation</th>
            <td><%= record.id_dossierlocation %></td>
        </tr>
        <tr>
            <th>User Id</th>
            <td><%= record.user_id %></td>
        </tr>
        <tr>
            <th>Type</th>
            <td><%= record.type %></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><%= record.description %></td>
        </tr>
        <tr>
            <th>Status</th>
            <td><%= record.status %></td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td><%= record.date_created %></td>
        </tr>
        <tr>
            <th>Date Updated</th>
            <td><%= record.date_updated %></td>
        </tr>
        <tr>
            <th>Date Resolue</th>
            <td><%= record.date_resolue %></td>
        </tr>
    </tbody>
</table>
