
<div id="report-title"><h1>Residence Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Code</th>
            <td><%= record.code %></td>
        </tr>
        <tr>
            <th>Denomination</th>
            <td><%= record.denomination %></td>
        </tr>
        <tr>
            <th>Dt Mise Service</th>
            <td><%= record.dt_mise_service %></td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td><%= record.adresse %></td>
        </tr>
        <tr>
            <th>Tel1</th>
            <td><%= record.tel1 %></td>
        </tr>
        <tr>
            <th>Tel2</th>
            <td><%= record.tel2 %></td>
        </tr>
        <tr>
            <th>Tel3</th>
            <td><%= record.tel3 %></td>
        </tr>
        <tr>
            <th>Id Responsable</th>
            <td><%= record.id_responsable %></td>
        </tr>
        <tr>
            <th>Id Proprietaire</th>
            <td><%= record.id_proprietaire %></td>
        </tr>
    </tbody>
</table>
