
<div id="report-title"><h1>Responsable Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Code</th>
            <td><%= record.code %></td>
        </tr>
        <tr>
            <th>Nom Prenom</th>
            <td><%= record.nom_prenom %></td>
        </tr>
        <tr>
            <th>Cin</th>
            <td><%= record.cin %></td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td><%= record.adresse %></td>
        </tr>
        <tr>
            <th>Tel1</th>
            <td><%= record.tel1 %></td>
        </tr>
        <tr>
            <th>Tel2</th>
            <td><%= record.tel2 %></td>
        </tr>
    </tbody>
</table>
