
<div id="report-title"><h1>Tarification Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Dt Tarif</th>
            <td><%= record.dt_tarif %></td>
        </tr>
        <tr>
            <th>Id Base Tarif</th>
            <td><%= record.id_base_tarif %></td>
        </tr>
        <tr>
            <th>Id Unite Location</th>
            <td><%= record.id_unite_location %></td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td><%= record.date_created %></td>
        </tr>
        <tr>
            <th>Date Updated</th>
            <td><%= record.date_updated %></td>
        </tr>
    </tbody>
</table>
