
<div id="report-title"><h1>Usersnode Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Username</th>
            <td><%= record.username %></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><%= record.email %></td>
        </tr>
        <tr>
            <th>Photo</th>
            <td><%= record.photo %></td>
        </tr>
        <tr>
            <th>User Role Id</th>
            <td><%= record.user_role_id %></td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td><%= record.date_created %></td>
        </tr>
        <tr>
            <th>Date Updated</th>
            <td><%= record.date_updated %></td>
        </tr>
        <tr>
            <th>Civilite</th>
            <td><%= record.civilite %></td>
        </tr>
        <tr>
            <th>Nom</th>
            <td><%= record.nom %></td>
        </tr>
        <tr>
            <th>Prenom</th>
            <td><%= record.prenom %></td>
        </tr>
        <tr>
            <th>Cin</th>
            <td><%= record.cin %></td>
        </tr>
        <tr>
            <th>Nationalite</th>
            <td><%= record.nationalite %></td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td><%= record.telephone %></td>
        </tr>
        <tr>
            <th>Email Verified At</th>
            <td><%= record.email_verified_at %></td>
        </tr>
    </tbody>
</table>
