
<div id="report-title"><h1>Utilisateur Details</h1></div>
<table className="table table-sm table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td><%= record.id %></td>
        </tr>
        <tr>
            <th>Username</th>
            <td><%= record.username %></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><%= record.email %></td>
        </tr>
        <tr>
            <th>Photo</th>
            <td><%= record.photo %></td>
        </tr>
        <tr>
            <th>User Role Id</th>
            <td><%= record.user_role_id %></td>
        </tr>
    </tbody>
</table>
